.Latest {
  background: grey;
  .Latest__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin: 1rem;
    height: 30rem;
    p {
      transform: translateY(12rem);;
    }
  }
}